# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    mongodb_server:          mongodb://localhost:27017
    mongo_database:          yatadb
    twitter_app_id:          3TgfCisDJnMDvPUbukwvpmvyp
    twitter_secret:          8T22l5coiifL2Ecsqb2jRvHXtWYDtwAd081AtgwIRg0tAlHzTe
    twitter_access_token:    4288109729-5bYw62ZAmSGkqTayFAG4G4Pq10bT25UUE4L1QfO
    twitter_token_secret:    5HEOkJGssp3hsCSmDBR9OnIyn2E6OAbmrsAUAwR5n9d9f
